/* CUSTOM CSS ADDING TO BOOTSTRAP */
/* --------------------------------- VARIABLES --------------------------------- */
:root {
    /* COLOR VARIABLES */

    --bs-primary: #000000;
    --bs-secondary: #ffffff;
    --bs-success: #28a745;
    --bs-danger: #dc3545;
    --bs-warning: #ffc107;
    --bs-info: #17a2b8;
    --bs-light: #f8f9fa;
    --bs-dark: #5d6369;
    --bs-white: #ffffff;
    --bs-black: #000000;
    
    /* TYPOGRAPHY VARIABLES */
    --base-font-family: 'Arial', sans-serif;
    --base-font-size: 16px;
  
    /* SPACING VARIABLES */
    --base-spacing: 8px;
    --container-max-width: 1140px; /* Bootstrap default container width */
  }
  
/* --------------------------------- FONTS --------------------------------- */

  body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
  }

/* --------------------------------- CUSTOM STYLES --------------------------------- */

  .bg-dark {
    background-color: var(--bs-primary)!important;
  }
  
  .container {
    max-width: var(--container-max-width);
  }
  

  .header-title {
    margin-top: 50px;
}

ul li a {
  padding: 4px;
}

ul li a:hover {
  text-decoration: none;
  outline: solid var(--bs-secondary) 3px;
}