/* CUSTOM CSS ADDING TO BOOTSTRAP */
/* --------------------------------- VARIABLES --------------------------------- */
:root {
    /* COLOR VARIABLES */
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #5d6369;
    --white-color: #ffffff;
    
    /* TYPOGRAPHY VARIABLES */
    --base-font-family: 'Arial', sans-serif;
    --base-font-size: 16px;
  
    /* SPACING VARIABLES */
    --base-spacing: 8px;
    --container-max-width: 1140px; /* Bootstrap default container width */
  }
  
/* --------------------------------- FONTS --------------------------------- */

  body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
  }

/* --------------------------------- CUSTOM STYLES --------------------------------- */

  .bg-dark {
    background-color: var(--primary-color)!important;
  }
  
  .container {
    max-width: var(--container-max-width);
  }
  
  .btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
  }

  .header-title {
    margin-top: 50px;
}