<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">


<!-- HEAD START -->
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
	<meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="Studio, Music, Producing, Lessons, Teaching, Recording, Mixing, Mastering">
	<meta name="author" content="Louis Seibel">
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<link href="https://brokenvibestudios.com" rel="canonical">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
	<title>BROKEN VIBE STUDIOS</title>
</head>
<!-- HEAD END -->


<!-- BODY START -->
<body>

    {{ content }}

    <!-- SCRIPTS START -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- SCRIPTS END -->


</body>
<!-- BODY END -->


</html>
